nav.open,
nav.closed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1.5rem;
  color: #161616;
  font-weight: bold;
}


nav.open .nav-panel {
  display: block;
}

nav.closed .nav-bar {
  display: none;
}

